@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$green-palette, 500);
$accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);

$theme: mat.define-dark-theme((
 color: (
   primary: $primary,
   accent: $accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($theme);
